.App {
  text-align: center;
}

body{
  background-color: #648583;
}

.leaflet-container{
  margin-top: 25vh;
  margin-bottom: 5vh;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 70vw;
  height: 75vh;
}
